[submodule ".registry"]
	path = .registry
	url = https://github.com/bristol-vaccine-centre/universe
	shallow = true
	branch = HEAD
[submodule "tableone"]
	path = tableone
	url = https://github.com/bristol-vaccine-centre/tableone
	shallow = true
	branch = 0.1.0
	registered = true
[submodule "growthrates"]
	path = growthrates
	url = https://github.com/bristol-vaccine-centre/growthrates
	shallow = true
	branch = 0.0.1
	registered = true
[submodule "huxtable"]
	path = huxtable
	url = https://github.com/hughjonesd/huxtable
	shallow = true
	registered = false
