[submodule ".registry"]
	path = .registry
	url = https://github.com/bristol-vaccine-centre/bristol-vaccine-centre.r-universe.dev
	branch = HEAD
[submodule "avoncap"]
	path = avoncap
	url = https://github.com/bristol-vaccine-centre/avoncap
[submodule "growthrates"]
	path = growthrates
	url = https://github.com/bristol-vaccine-centre/growthrates
	branch = 0.2.0
[submodule "interfacer"]
	path = interfacer
	url = https://github.com/bristol-vaccine-centre/interfacer
	branch = 0.2.4
[submodule "modelfitter"]
	path = modelfitter
	url = https://github.com/bristol-vaccine-centre/modelfitter
[submodule "pkgutils"]
	path = pkgutils
	url = https://github.com/bristol-vaccine-centre/pkgutils
	branch = 0.1.0
[submodule "rsurvstat"]
	path = rsurvstat
	url = https://github.com/bristol-vaccine-centre/rsurvstat
	branch = 0.0.4
[submodule "tableone"]
	path = tableone
	url = https://github.com/bristol-vaccine-centre/tableone
	branch = 0.4.3
[submodule "testerror"]
	path = testerror
	url = https://github.com/bristol-vaccine-centre/testerror
	branch = 0.1.0
