[submodule ".registry"]
	path = .registry
	url = https://github.com/bristol-vaccine-centre/universe
	shallow = true
	branch = HEAD
[submodule "tableone"]
	path = tableone
	url = https://github.com/bristol-vaccine-centre/tableone
	shallow = true
	branch = 0.3.0
	registered = true
[submodule "growthrates"]
	path = growthrates
	url = https://github.com/bristol-vaccine-centre/growthrates
	shallow = true
	branch = 0.0.3
	registered = true
[submodule "rsurvstat"]
	path = rsurvstat
	url = https://github.com/bristol-vaccine-centre/rsurvstat
	shallow = true
	branch = 0.0.4
	registered = true
[submodule "modelfitter"]
	path = modelfitter
	url = https://github.com/bristol-vaccine-centre/modelfitter
	shallow = true
	registered = true
[submodule "avoncap"]
	path = avoncap
	url = https://github.com/bristol-vaccine-centre/avoncap
	shallow = true
	registered = true
